// basics
$white: #fff;
$black: #000;

// green
$green_50: #edfcf2;
$green_100: #d3f8df;
$green_200: #aaf0c4;
$green_300: #73e2a3;
$green_500: #16b364;
$green_600: #099250;
$green_700: #087443;
$green_800: #095c37;
$green_900: #084c2e;
$green_950: #052e1c;

// gray
$gray_25: #fcfcfd;
$gray_50: #f9fafb;
$gray_100: #f2f4f7;
$gray_200: #eaecf0;
$gray_400: #98a2b3;
$gray_500: #667085;
$gray_600: #475467;
$gray_700: #344054;
$gray_900: #101828;

// blue
$blue_500: #2e90fa;
$blue_600: #1570ef;
$blue_800: #1849a9;
$blue_900: #101828;
$blue_950: #102a56;

// purple
$purple_25: #fafaff;
$purple_50: #f4f3ff;
$purple_500: #7a5af8;
$purple_600: #6938ef;
$purple_700: #5925dc;
